// breakpoint
$wide-desktop: 1400px;

// colors
$green: #3eb991;
$blue: #6ecadc;
$orange: #e9a820;
$red: #e01563;
$grey: #92959E;
$lighter-grey: #d3d3d3;
$lightest-grey: #e6e6e6;
$darkest-grey: #333;
$off-white:#fafafa;

// typography
$line-height: 1.5;

// gutter
$gutter: 20px;